<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input required type="text" [(ngModel)]="nom" name="nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Prenom</ion-label>
        <ion-input required type="text" [(ngModel)]="prenom" name="prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Téléphone</ion-label>
        <ion-input required type="tel" [(ngModel)]="telephone" name="telephone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-input required type="submit"></ion-input>
    </ion-list>
  </form>
</ion-content>
